TIMER="/Users/robertswanson/Library/Mobile Documents/iCloud~is~workflow~my~workflows/Documents/Timer.txt"
TIMES="/Users/robertswanson/Library/Mobile Documents/iCloud~is~workflow~my~workflows/Documents/Times.txt"
BACKUP="/Users/robertswanson/Library/Mobile Documents/iCloud~is~workflow~my~workflows/Documents/Times_Backup.txt"
SPREADSHEET="/Users/robertswanson/Library/Mobile Documents/iCloud~is~workflow~my~workflows/Documents/Time Tracking.numbers"

ACTIVITIES=("Reading" "Writing" "Assignment" "Studying")

# Allowed References (Activities)
READING=("read" "reading")
WRITING=("write" "writing" "journaling" "prewriting" "prewrite")
ASSIGNMENT=("assignment" "assignments" "projects" "project")
STUDYING=("study" "stuydying" "review")
WORK=("work" "working")

#--------Classes--------
CLASSES=("Calc II" "COS 143" "COS 109" "COS 270" "Fit" "Colloquim")

#Allowed references (Classes)
CALC_II=("calc" "calculus" "calc2" "calculus2")
COS_143=("143" "cos143")
COS_109=("109" "cos109")
COS_270=("270" "cos270")
FIT=("fit" "fitness")
COLLOQUIM=("coll", "colloquim")

#--------Work--------
JOBS=("TA" "Tutoring" "Malware")

#Allowed references (Work)
TA=("ta" "teachers assistant")
TUTORING=("tutoring" "tutor")
MALWARE=("malware" "cybersecurity" "research")

#Wages in cents
TA_WAGE=800
TUTORING_WAGE=725
MALWARE_WAGE=1200
