DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"


TIMER="$DIR/timerFiles/timer.txt"
TIMES="$DIR/timerFiles/times.txt"
BACKUP="$DIR/timerFiles/times-backup.txt"
SPREADSHEET="$DIR/timerFiles/Time-Tracking.numbers"

ACTIVITIES=("Reading" "Writing" "Assignment" "Studying")

# Allowed References (Activities)
READING=("read" "reading")
WRITING=("write" "writing" "journaling" "prewriting" "prewrite")
ASSIGNMENT=("assignment" "assignments" "projects" "project")
STUDYING=("study" "stuydying" "review")
WORK=("work" "working")

#--------Classes--------
CLASSES=("Calc II" "COS 143" "COS 109" "COS 270" "Fit" "Colloquim" "AEC 350")

#Allowed references (Classes)
CALC_II=("calc" "calculus" "calc2" "calculus2")
COS_143=("143" "cos143")
COS_109=("109" "cos109")
COS_270=("270" "cos270")
FIT=("fit" "fitness")
COLLOQUIM=("coll", "colloquim")
AEC_350=("350" "aec" "aec350" "preceptor")

#--------Work--------
JOBS=("TA" "Tutoring" "Malware")

#Allowed references (Work)
TA=("ta" "teachers assistant")
TUTORING=("tutoring" "tutor")
MALWARE=("malware" "cybersecurity" "research")

#Wages in cents
TA_WAGE=800
TUTORING_WAGE=725
MALWARE_WAGE=1200
